{% load static %}

html, body {
    height: 100%;
  }

.body{
    min-height: 100%
}

.header{
    padding: 3em;
    text-align: center;
    color: black;
    margin-bottom: 3em;
    background-color: darkgray
}

.footer_page{
    padding: 1em;
    background-color: #f8f9fa;
    position: relative;
    margin-top: -3em; /* negative value of footer height */
    height: 3em;
    clear:both;
}
.container{
    overflow:auto;
    margin-top: 3em;
    margin-bottom: 4em;

}

.event_title{
    margin-bottom: 1em
}

.event_date{
    margin-bottom: 0.5em;
}

.event_address{
    margin-bottom: 1em
}